.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  list-style: none;
  position: relative;
  width: 400px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  background-color: #fff;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.avatar {
  position: relative;
  width: 100px;
  margin-left: 30px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.name {
  font-size: 30px;
  margin-left: 30px;
  align-self: center;
}
